/* Defines the style for all texts within 'h1' */
h1 {
    color: rgb(50, 50, 131);
    background-color: rgba(95, 95, 95,0.5);
    border: 100px rgb(152, 177, 168);
    border-bottom: 20px dashed green;
    margin-bottom: 30px;
    margin: 0 auto;
    /* margin: 20px 30px */ /* right-left top-bottom*/
    /* margin: 20px  40px 20 px 30px */ /* top right bottom left */
    width: 50%;
    padding: 50px
}

p {
    font-family: verdana, sans-serif; /* first priority, backup front (called a font stack) */
}

span {
    font-weight: bold;
    font-style: italic
}

#poop {
    color: brown
}

#meow {
    filter: grayscale(100%);
    border: dashed blue
}

.darkback{
    background-color: slategray
}

a:visited {
    color: darkmagenta
}

li:hover {
    background-color: lightcoral;
    margin-left: 30px
}

img {
    float: left;
    margin-right: 20px
}